.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 135px;
    margin-top: 45px;
    z-index: 100;
}

.sidebar-link{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: #e8e8e8;
}

.sidebar-link img{
    width: 40px;
    margin-bottom: 10px;
}

.sidebar-link div{
    font-family: Roboto;
    font-size: 13px;
}